
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: 300px;
    color: white;
}
h1 {
  text-transform: uppercase;
  font-weight: 300;
    font-size: 64px;
    line-height: 110%;
    margin: 0px;
    color: white;
}

h5 {
    font-size: 18px;
    line-height: 110%;
    margin: 9px 0 7.2px 0;
    color: white;
}


main {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: max-content;
  grid-auto-flow: row dense;
}


.article a,
.article a:visited {
  text-decoration: none;
  color: inherit;
}

.article img {
  width: 100%;
}